/* You can add global styles to this file, and also import other style files */
.example-container {
    
    width: 100%;
    overflow: auto;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  .filter{
    width: 300px;
  }